footer {
            text-align: center;
            padding: 5px;
            margin-top: auto;
        }       
.center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
nav {
    text-align: center;
    }

html {
        background-color: black;
        color: white;
        background-image: url(https://ciderchicken.github.io/imgs/background.gif);
}

body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

}

code {
        color: green;
	    overflow-wrap: break-word;
}

.img-padding{
        padding: 30px;

}

/* reponsive image divs */
@media screen and (min-width: 1024px) {
    .image-div{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4px;
        }
    .img-padding{
        padding: 30px;
       }
    }
@media screen and (max-width: 768px) {
    .image-div {
             align-items: center;
             display: flex;
             flex-direction: column;
             justify-content: center;
             padding: 4px;
    }
    .img-padding{
        padding: 10px;
        }
    .pepe{
        width:60%
        }

}

@media screen and (min-width: 768px) {
    .image-div{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 4px;
        }
        .img-padding{
           padding: 15px;
           }
    }
